kkzzhizhou/scoop-zapps
HCLonely/my-scoop-bucket
Weidows-projects/scoop-3rd
SayCV/scoop-cvp
ScoopInstaller/PHP
sliots/ScoopBucket
ScoopInstaller/Extras
chawyehsu/dorado
matthewjberger/scoop-nerd-fonts
Scoopforge/Extras-CN
Calinou/scoop-games
ScoopInstaller/Java
ScoopInstaller/Versions
TheRandomLabs/Scoop-Spotify
borger/scoop-galaxy-integrations
TheCjw/scoop-retools
kodybrown/scoop-nirsoft
TheRandomLabs/scoop-nonportable
ScoopInstaller/Nirsoft
littleli/scoop-clojure
scoopcn/scoopcn
kkzzhizhou/scoop-zapps
rasa/scoops
ScoopInstaller/Nonportable
Paxxs/Cluttered-bucket
kidonng/sushi
ACooper81/scoop-apps
KNOXDEV/wsl
cderv/r-bucket
echoiron/echo-scoop
hermanjustnu/scoop-emulators
whoopscs/scoop-security
dodorz/scoop
couleur-tweak-tips/utils
niheaven/scoop-sysinternals
borger/scoop-emulators
ViCrack/scoop-bucket
akirco/aki-apps
kiennq/scoop-misc
wangzq/scoop-bucket
Qv2ray/mochi
TheRandomLabs/Scoop-Bucket
cmontage/scoopbucket-third
DoveBoy/Apps
zhoujin7/tomato
wzv5/ScoopBucket
charmbracelet/scoop-bucket
TheRandomLabs/Scoop-Python
amorphobia/siku
jonz94/scoop-sarasa-nerd-fonts
hu3rror/scoop-muggle
naderi/scoop-bucket
NyaMisty/scoop_bucket_misty
noql-net/scoop
abgox/abgo_bucket
ygguorun/scoop-bucket
aliesbelik/poldi
kengwang/scoop-ctftools-bucket
asimov-platform/scoop-bucket
brian6932/dank-scoop
batkiz/backit
SayCV/scoop-cvp
Small-Ku/turbo-bucket
iquiw/scoop-bucket
TianXiaTech/scoop-txt
42wim/scoop-bucket
Darkatse/Scoop-Darkatse
AStupidBear/scoop-bear
jfut/scoop-jfut
starise/Scoop-Confetti
aoisummer/scoop-bucket
seumsc/scoop-seu
babo4d/scoop-xrtools
cc713/ownscoop
mo-san/scoop-bucket
starise/Scoop-Gaming
WinApps-share/WinApps-bucket
Weidows-projects/scoop-3rd
natecohen/scoop-av
rivy/scoop-bucket
KnotUntied/scoop-fonts
AkariiinMKII/Scoop4kariiin
Toddli468/Pentest-Scoop-Bucket
Scoopforge/Extras-Plus
beer-psi/scoop-bucket
HUMORCE/nuke
littleli/Scoop-littleli
littleli/Scoop-AtariEmulators
Deide/deide-bucket
ChinLong/scoop-customize
yuusakuri/scoop-bucket
MCOfficer/scoop-bucket
ShuguangSun/sgs-scoop-bucket
maboloshi/scoop-private
typst-community/scoop-bucket
p8rdev/scoop-portableapps
WiiDatabase/scoop-bucket
The-Simples/scoop-minecraft
yuanying1199/scoopbucket
