ScoopInstaller/Extras
chawyehsu/dorado
matthewjberger/scoop-nerd-fonts
TheRandomLabs/Scoop-Spotify
ScoopInstaller/Java
Calinou/scoop-games
TheRandomLabs/scoop-nonportable
borger/scoop-galaxy-integrations
TheCjw/scoop-retools
ivaquero/scoopet
kodybrown/scoop-nirsoft
Ash258/Scoop-JetBrains
ScoopInstaller/Versions
littleli/scoop-clojure
L-Trump/scoop-raresoft
kidonng/sushi
rasa/scoops
MCOfficer/scoop-nirsoft
KNOXDEV/wsl
everyx/scoop-bucket
hermanjustnu/scoop-emulators
echoiron/echo-scoop
tetradice/scoop-iyokan-jp
TheRandomLabs/Scoop-Bucket
cderv/r-bucket
Qv2ray/mochi
ZvonimirSun/scoop-iszy
wangzq/scoop-bucket
zhoujin7/tomato
dodorz/scoop
ScoopInstaller/PHP
kiennq/scoop-misc
scoopcn/scoopcn
wzv5/ScoopBucket
TheRandomLabs/Scoop-Python
borger/scoop-emulators
Paxxs/Cluttered-bucket
AStupidBear/scoop-bear
ChungZH/peach
naderi/scoop-bucket
jfut/scoop-jfut
BjoernPetersen/scoop-misc-bucket
excitoon/scoop-user
42wim/scoop-bucket
hoilc/scoop-lemon
Darkatse/Scoop-Darkatse
iquiw/scoop-bucket
Apocalypsor/My-Scoop-Bucket
ChinLong/scoop-customize
krproject/qi-windows
batkiz/backit
nickbudi/scoop-bucket
Velgus/Scoop-Portapps
MCOfficer/scoop-bucket
Darkatse/Scoop-KanColle
yuanying1199/scoopbucket
liaoya/scoop-bucket
chatterzhao/Scoop-bucket-cn
mogeko/scoop-sysinternals
