kkzzhizhou/scoop-zapps
HCLonely/my-scoop-bucket
Weidows-projects/scoop-3rd
SayCV/scoop-cvp
ScoopInstaller/PHP
sliots/ScoopBucket
ScoopInstaller/Extras
chawyehsu/dorado
matthewjberger/scoop-nerd-fonts
Scoopforge/Extras-CN
Calinou/scoop-games
ScoopInstaller/Java
ScoopInstaller/Versions
TheRandomLabs/Scoop-Spotify
borger/scoop-galaxy-integrations
TheCjw/scoop-retools
kodybrown/scoop-nirsoft
ScoopInstaller/Nirsoft
TheRandomLabs/scoop-nonportable
littleli/scoop-clojure
scoopcn/scoopcn
ScoopInstaller/Nonportable
kkzzhizhou/scoop-zapps
rasa/scoops
Paxxs/Cluttered-bucket
kidonng/sushi
ACooper81/scoop-apps
TLDRO/scoop-security
KNOXDEV/wsl
cderv/r-bucket
echoiron/echo-scoop
ScoopInstaller/PHP
hermanjustnu/scoop-emulators
dodorz/scoop
niheaven/scoop-sysinternals
couleur-tweak-tips/utils
borger/scoop-emulators
ViCrack/scoop-bucket
akirco/aki-apps
kiennq/scoop-misc
wangzq/scoop-bucket
cmontage/scoopbucket-third
everyx/scoop-bucket
Qv2ray/mochi
TheRandomLabs/Scoop-Bucket
DoveBoy/Apps
zhoujin7/tomato
wzv5/ScoopBucket
charmbracelet/scoop-bucket
TheRandomLabs/Scoop-Python
amorphobia/siku
EFLKumo/jam
hu3rror/scoop-muggle
jonz94/scoop-sarasa-nerd-fonts
NyaMisty/scoop_bucket_misty
naderi/scoop-bucket
noql-net/scoop
abgox/abgo_bucket
kengwang/scoop-ctftools-bucket
aliesbelik/poldi
ygguorun/scoop-bucket
asimov-platform/scoop-bucket
WinApps-share/WinApps-bucket
brian6932/dank-scoop
batkiz/backit
ChungZH/peach
liaoya/scoop-bucket
Velgus/Scoop-Portapps
AStupidBear/scoop-bear
SayCV/scoop-cvp
Small-Ku/turbo-bucket
TianXiaTech/scoop-txt
starise/Scoop-Confetti
Weidows-projects/scoop-3rd
seumsc/scoop-seu
iquiw/scoop-bucket
Darkatse/Scoop-Darkatse
42wim/scoop-bucket
Scoopforge/Extras-Plus
aoisummer/scoop-bucket
jfut/scoop-jfut
babo4d/scoop-xrtools
starise/Scoop-Gaming
cc713/ownscoop
mo-san/scoop-bucket
AkariiinMKII/Scoop4kariiin
rivy/scoop-bucket
Toddli468/Pentest-Scoop-Bucket
HUMORCE/nuke
Deide/deide-bucket
littleli/Scoop-littleli
typst-community/scoop-bucket
natecohen/scoop-av
KnotUntied/scoop-fonts
beer-psi/scoop-bucket
littleli/Scoop-AtariEmulators
jingyu9575/scoop-jingyu9575
Darkatse/Scoop-KanColle
ChinLong/scoop-customize
yuusakuri/scoop-bucket
MCOfficer/scoop-bucket
AntonOks/scoop-aoks
ShuguangSun/sgs-scoop-bucket
Rinkerbel/scooped
windedge/ladle-bucket
maboloshi/scoop-private
The-Simples/scoop-minecraft
younger-1/scoop-it
WiiDatabase/scoop-bucket
p8rdev/scoop-portableapps
yuanying1199/scoopbucket
