;---------------------------------------------------------------------------
; Copyright (c) 2000 Texas Instruments
;---------------------------------------------------------------------------
;NOTE:
; IMPORTANT... DO NOT ALTER OR DELETE THIS FILE.
; This file is maintained by Code Composer Studio Component Management tool
;
;---------------------------------------------------------------------------
;
[PlugIn_1]
DisplayName      =Advice Window
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\AdvWnd.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Advice Window <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Advice Window <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =..\..\docs\hlp\dspact.hlp
Sku              =TI-ADVICE
Family_InstDate  =Advice Window

[PlugIn_2]
DisplayName      =Breakpoints
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\BreakpointMgr\BreakpointGUI.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Breakpoints <%EVAL_INST_PATH%\ccs\plugins\joule\breakpointmgr>
GroupDescription =Breakpoints <%EVAL_INST_PATH%\ccs\plugins\joule\breakpointmgr>
HelpFile         =Breakpoints.hlp
Sku              =TI-Breakpoints
Family_InstDate  =Breakpoints

[PlugIn_3]
DisplayName      =Event Analysis
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\ADPlugin.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =*
PlugInLst_GrpName=Advanced Event Triggering <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =Advanced Event Triggering <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =..\..\docs\hlp\ctools.hlp
Sku              =TI-EVNTANL-1.0.11
Family_InstDate  =Event Analysis

[PlugIn_4]
DisplayName      =Event Sequencer
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\SeqPEdit.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =*
PlugInLst_GrpName=Advanced Event Triggering <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =Advanced Event Triggering <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =..\..\docs\hlp\ctools.hlp
Sku              =TI-EVNTSEQ-1.0.81
Family_InstDate  =Event Sequencer

[PlugIn_5]
DisplayName      =Goals Window
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\GoalWnd.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Goals Window <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Goals Window <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =..\..\docs\hlp\dspact.hlp
Sku              =TI-GOAL
Family_InstDate  =Goals Window

[PlugIn_6]
DisplayName      =Kernel//Object View
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\OSAwareDebug.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*,TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=Scope Control <%EVAL_INST_PATH%\ccs\plugins\bios>
GroupDescription =Scope Control <%EVAL_INST_PATH%\ccs\plugins\bios>
HelpFile         =..\..\docs\hlp\OSAwareDebug.hlp
Sku              =TI-OSKER-5.70
Family_InstDate  =Kernel//Object View

[PlugIn_7]
DisplayName      =MemoryWindowPlugin Control - 1 Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\MemoryWindow\MemoryWindowPlugin.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Memory Window Plugin Control <%EVAL_INST_PATH%\ccs\plugins\joule\memorywindow>
GroupDescription =Memory Window Plugin Control <%EVAL_INST_PATH%\ccs\plugins\joule\memorywindow>
HelpFile         =MemWindowPlugin.hlp
Sku              =TI-MemWin
Family_InstDate  =MemoryWindowPlugin Control - 1 Plugin

[PlugIn_8]
DisplayName      =OSSelector
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\OSSelector\OSSelection.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=OSSelector <%EVAL_INST_PATH%\ccs\plugins\osselector>
GroupDescription =OSSelector <%EVAL_INST_PATH%\ccs\plugins\osselector>
HelpFile         =OSSelector.hlp
Sku              =TI-OSS-5.61.4
Family_InstDate  =OSSelector

[PlugIn_9]
DisplayName      =Peripheral Context Display Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\pcd\Pcd.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.41
CpuSupport       =*
PlugInLst_GrpName=Pcd Control <%EVAL_INST_PATH%\ccs\cc\bin\pcd>
GroupDescription =Pcd Control <%EVAL_INST_PATH%\ccs\cc\bin\pcd>
HelpFile         =Pcd.hlp
Sku              =TI-PCD-01.00.00
Family_InstDate  =Peripheral Context Display Plugin

[PlugIn_10]
DisplayName      =Pin Connect
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\pinio.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.2
CpuSupport       =*
PlugInLst_GrpName=Pin Connect <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Pin Connect <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =pinio.hlp
Sku              =TI-PINCON-1.15.05
Family_InstDate  =Pin Connect

[PlugIn_11]
DisplayName      =Port Connect
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\portio.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =*
PlugInLst_GrpName=Port Connect <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Port Connect <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =portio.hlp
Sku              =TI-PORTCON-1.13.02
Family_InstDate  =Port Connect

[PlugIn_12]
DisplayName      =Profile Setup
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\PrSetup.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Profile Setup <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Profile Setup <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =..\..\docs\hlp\dspact.hlp
Sku              =TI-PROSETUP
Family_InstDate  =Profile Setup

[PlugIn_13]
DisplayName      =Profile Viewer
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\PrViewer.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Profile Viewer <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Profile Viewer <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =..\..\docs\hlp\dspact.hlp
Sku              =TI-PROVIEW
Family_InstDate  =Profile Viewer

[PlugIn_14]
DisplayName      =PropertyPageManager Control - 1 Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\PropertyPageManager\Property.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Property Manager <%EVAL_INST_PATH%\ccs\plugins\joule\propertypagemanager>
GroupDescription =Property Manager <%EVAL_INST_PATH%\ccs\plugins\joule\propertypagemanager>
HelpFile         =PropertyPageManager.hlp
Sku              =TI-Property
Family_InstDate  =PropertyPageManager Control - 1 Plugin

[PlugIn_15]
DisplayName      =Register Window
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\RegisterWindow\Register.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Register Window <%EVAL_INST_PATH%\ccs\plugins\joule\registerwindow>
GroupDescription =Register Window <%EVAL_INST_PATH%\ccs\plugins\joule\registerwindow>
HelpFile         =RegisterWindow.hlp
Sku              =TI-RegWnd
Family_InstDate  =Register Window

[PlugIn_16]
DisplayName      =Symbol Browser
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\symbolbrowser.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Symbol Browser <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Symbol Browser <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =SymbolBrowser.hlp
Sku              =TI-SYMBROW-1.0.17
Family_InstDate  =Symbol Browser

[PlugIn_17]
DisplayName      =TICommandWindow
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\ticmdwindow.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=TICommandWindow <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =TICommandWindow <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =TICmdWindow.hlp
Sku              =TI-CMDWIN-1.34.3
Family_InstDate  =TICommandWindow

[PlugIn_18]
DisplayName      =Watch Window
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\watch.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Watch Window <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Watch Window <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =Watch.hlp
Sku              =TI-WATCHWN-1.0.35
Family_InstDate  =Watch Window

[PlugIn_19]
DisplayName      =F24xx On-Chip Flash Programmer
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Flash24xx\Flash24xx.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.41
CpuSupport       =TMS320C24XX
PlugInLst_GrpName=On-Chip Flash Programmer <%EVAL_INST_PATH%\ccs\plugins\flash24xx>
GroupDescription =On-Chip Flash Programmer <%EVAL_INST_PATH%\ccs\plugins\flash24xx>
HelpFile         =..\..\docs\hlp\Flash24xx.hlp
Sku              =UA-TI-FLASH24-1.12.0
Family_InstDate  =F24xx On-Chip Flash Programmer

[PlugIn_20]
DisplayName      =C27x Emulator Analysis
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c2000_emu_analysis\EMUAnalysis.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.41
CpuSupport       =TMS320C27XX
PlugInLst_GrpName=C27x Emulator Analysis <%EVAL_INST_PATH%\ccs\plugins\c2000_emu_analysis>
GroupDescription =C27x Emulator Analysis <%EVAL_INST_PATH%\ccs\plugins\c2000_emu_analysis>
HelpFile         =emuanalysis.hlp
Sku              =TI-27XEMUA-2.11
Family_InstDate  =C27x Emulator Analysis

[PlugIn_21]
DisplayName      =C27x Pipeline Display
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c2000_sim_pipeline\PipeLine.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.3
CpuSupport       =TMS320C27XX
PlugInLst_GrpName=C27x Pipeline Display <%EVAL_INST_PATH%\ccs\plugins\c2000_sim_pipeline>
GroupDescription =C27x Pipeline Display <%EVAL_INST_PATH%\ccs\plugins\c2000_sim_pipeline>
HelpFile         =pipeline.hlp
Sku              =TI-27XPIPE-2.21
Family_InstDate  =C27x Pipeline Display

[PlugIn_22]
DisplayName      =C28x Emulator Analysis
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c2000_emu_analysis\EMUAnalysis.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.41
CpuSupport       =TMS320C28XX
PlugInLst_GrpName=C28x Emulator Analysis <%EVAL_INST_PATH%\ccs\plugins\c2000_emu_analysis>
GroupDescription =C28x Emulator Analysis <%EVAL_INST_PATH%\ccs\plugins\c2000_emu_analysis>
HelpFile         =emuanalysis.hlp
Sku              =TI-28XEMUA-2.11
Family_InstDate  =C28x Emulator Analysis

[PlugIn_23]
DisplayName      =C28x Pipeline Display
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c2000_sim_pipeline\PipeLine.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.3
CpuSupport       =TMS320C28XX
PlugInLst_GrpName=C28x Pipeline Display <%EVAL_INST_PATH%\ccs\plugins\c2000_sim_pipeline>
GroupDescription =C28x Pipeline Display <%EVAL_INST_PATH%\ccs\plugins\c2000_sim_pipeline>
HelpFile         =pipeline.hlp
Sku              =TI-28XPIPE-2.21
Family_InstDate  =C28x Pipeline Display

[PlugIn_24]
DisplayName      =CPULOAD
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\ScopeControls.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
GroupDescription =DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
HelpFile         =..\..\docs\hlp\c6xbios.hlp
Sku              =TI-BIOSCOP-3.00
Family_InstDate  =CPULOAD

[PlugIn_25]
DisplayName      =Data Converter Support
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\aap_dev\adconf.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=Data Converter Support <%EVAL_INST_PATH%\ccs\plugins\aap_dev>
GroupDescription =Data Converter Support <%EVAL_INST_PATH%\ccs\plugins\aap_dev>
HelpFile         =ADCONF.hlp
Sku              =TI-DATACON-3.71.00
Family_InstDate  =Data Converter Support

[PlugIn_26]
DisplayName      =F28xx On-Chip Flash Programmer
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Flash28xx\Flash28xx.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C28XX
PlugInLst_GrpName=Flash28xx <%EVAL_INST_PATH%\ccs\plugins\flash28xx>
GroupDescription =Flash28xx <%EVAL_INST_PATH%\ccs\plugins\flash28xx>
HelpFile         =..\..\docs\hlp\Flash28xx.hlp
Sku              =UA-28FLP
Family_InstDate  =F28xx On-Chip Flash Programmer

[PlugIn_27]
DisplayName      =HST
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\ScopeControls.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
GroupDescription =DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
HelpFile         =..\..\docs\hlp\c6xbios.hlp
Sku              =TI-BIOSCOP-3.00
Family_InstDate  =HST

[PlugIn_28]
DisplayName      =Log
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\ScopeControls.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
GroupDescription =DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
HelpFile         =..\..\docs\hlp\c6xbios.hlp
Sku              =TI-BIOSCOP-3.00
Family_InstDate  =Log

[PlugIn_29]
DisplayName      =RtdxChannelViewer
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\rtdx\rtdxchannelviewer.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX,TMS470R1X,TMS470R2X,TMS470R3X,TMS470RCX,TMS470RDX,TMS470REX
PlugInLst_GrpName=RTDX <%EVAL_INST_PATH%\ccs\plugins\rtdx>
GroupDescription =RTDX <%EVAL_INST_PATH%\ccs\plugins\rtdx>
HelpFile         =..\..\docs\hlp\RTDX.hlp
Sku              =TI-RTDXCHAN
Family_InstDate  =RtdxChannelViewer

[PlugIn_30]
DisplayName      =RtdxConfig
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\rtdx\rtdxconfig.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX,TMS470R1X,TMS470R2X,TMS470R3X,TMS470RCX,TMS470RDX,TMS470REX
PlugInLst_GrpName=RTDX <%EVAL_INST_PATH%\ccs\plugins\rtdx>
GroupDescription =RTDX <%EVAL_INST_PATH%\ccs\plugins\rtdx>
HelpFile         =..\..\docs\hlp\RTDX.hlp
Sku              =TI-RTDXCONF
Family_InstDate  =RtdxConfig

[PlugIn_31]
DisplayName      =RtdxDiagnostics
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\rtdx\rtdxdiagnostics.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX,TMS470R1X,TMS470R2X,TMS470R3X,TMS470RCX,TMS470RDX,TMS470REX
PlugInLst_GrpName=RTDX <%EVAL_INST_PATH%\ccs\plugins\rtdx>
GroupDescription =RTDX <%EVAL_INST_PATH%\ccs\plugins\rtdx>
HelpFile         =..\..\docs\hlp\RTDX.hlp
Sku              =TI-RTDXDIAG
Family_InstDate  =RtdxDiagnostics

[PlugIn_32]
DisplayName      =STS
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\ScopeControls.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
GroupDescription =DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
HelpFile         =..\..\docs\hlp\c6xbios.hlp
Sku              =TI-BIOSCOP-3.00
Family_InstDate  =STS

[PlugIn_33]
DisplayName      =SystemLog
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\ScopeControls.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
GroupDescription =DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
HelpFile         =..\..\docs\hlp\c6xbios.hlp
Sku              =TI-BIOSCOP-3.00
Family_InstDate  =SystemLog

[PlugIn_34]
DisplayName      =TRC
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\ScopeControls.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C28XX,TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
GroupDescription =DSP/BIOS <%EVAL_INST_PATH%\ccs\plugins\bios>
HelpFile         =..\..\docs\hlp\c6xbios.hlp
Sku              =TI-BIOSCOP-3.00
Family_InstDate  =TRC

[PlugIn_35]
DisplayName      =C54xx Simulator Analysis
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\sim_analysis\c54xsim_analysis.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C54XX
PlugInLst_GrpName=C54xx Simulator Analysis <%EVAL_INST_PATH%\ccs\plugins\sim_analysis>
GroupDescription =C54xx Simulator Analysis <%EVAL_INST_PATH%\ccs\plugins\sim_analysis>
HelpFile         =c54xsim_analysis.hlp
Sku              =TI-54XSIMA-1.05.02
Family_InstDate  =C54xx Simulator Analysis

[PlugIn_36]
DisplayName      =C54xx DMA
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c54xdma.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C54XX
PlugInLst_GrpName=C54xx DMA <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =C54xx DMA <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c54xdma.hlp
Sku              =TI-54XDMA-2.04.05
Family_InstDate  =C54xx DMA

[PlugIn_37]
DisplayName      =C54xx McBSP
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c54xmcbsp.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C54XX
PlugInLst_GrpName=C54xx McBSP <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =C54xx McBSP <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c54xMcBSP.hlp
Sku              =TI-54XMBSP-2.04.07
Family_InstDate  =C54xx McBSP

[PlugIn_38]
DisplayName      =Memory Save/Load Utility Control - 1 Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\MemDump.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C54XX,TMS320C55XX,TMS320C56XX,TMS470R1X,TMS470R2X,TMS470R3X,TMS470RCX,TMS470RDX,TMS470REX
PlugInLst_GrpName=Memory Save//Load Utility Control <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Memory Save//Load Utility Control <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =MemDump.hlp
Sku              =TI-MEMDUMP
Family_InstDate  =Memory Save/Load Utility Control - 1 Plugin

[PlugIn_39]
DisplayName      =Telecom Reference Application {3344569B-E2D5-11d2-B5D4-00C04FA37542}
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\xdais\xdais_demo.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C54XX,TMS320C62XX,TMS320C67XX
PlugInLst_GrpName=Algorithm Standard <%EVAL_INST_PATH%\ccs\plugins\xdais>
GroupDescription =Algorithm Standard <%EVAL_INST_PATH%\ccs\plugins\xdais>
HelpFile         =xdais.hlp
Sku              =TI-XDAISDM-2.3.0
Family_InstDate  =Telecom Reference Application {3344569B-E2D5-11d2-B5D4-00C04FA37542}

[PlugIn_40]
DisplayName      =c55x DMA Control
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c55xdma.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX
PlugInLst_GrpName=c55x DMA Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =c55x DMA Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c55xperconfig.hlp
Sku              =TI-55XDMA-2.20.03
Family_InstDate  =c55x DMA Control

[PlugIn_41]
DisplayName      =c55x EMIF Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c55xemif.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX
PlugInLst_GrpName=c55x EMIF Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =c55x EMIF Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c55xperconfig.hlp
Sku              =TI-55XEMIF-2.20.06
Family_InstDate  =c55x EMIF Plugin

[PlugIn_42]
DisplayName      =c55x McBSP Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c55xmcbsp.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX
PlugInLst_GrpName=c55x McBSP Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =c55x McBSP Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c55xperconfig.hlp
Sku              =TI-55XMBSP-2.00.01
Family_InstDate  =c55x McBSP Plugin

[PlugIn_43]
DisplayName      =c55x RHEA Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c55xrhea.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX
PlugInLst_GrpName=c55x RHEA Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =c55x RHEA Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c55xperconfig.hlp
Sku              =TI-55XIDLE-2.20.07
Family_InstDate  =c55x RHEA Plugin

[PlugIn_44]
DisplayName      =c55x Timer Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c55xtimer.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX
PlugInLst_GrpName=c55x Timer Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =c55x Timer Plugin <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c55xperconfig.hlp
Sku              =TI-c55xtimer-2.20.06
Family_InstDate  =c55x Timer Plugin

[PlugIn_45]
DisplayName      =Simulator Analysis
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\C55xc6x_sim_analysis\c55xc6xsim_analysis.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C55XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=C55x/C6000 Simulator Analysis <%EVAL_INST_PATH%\ccs\plugins\c55xc6x_sim_analysis>
GroupDescription =C55x/C6000 Simulator Analysis <%EVAL_INST_PATH%\ccs\plugins\c55xc6x_sim_analysis>
HelpFile         =C55xC6xsim_analysis.hlp
Sku              =TI-C55x6xSA-2.0.01
Family_InstDate  =Simulator Analysis

[PlugIn_46]
DisplayName      =C55xx Hardware Accelerator
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c55xhwa.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX,TMS320C56XX
PlugInLst_GrpName=C55xx Hardware Accelerator <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =C55xx Hardware Accelerator <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c55xhwa.hlp
Sku              =TI-55XHWA-1.02.05
Family_InstDate  =C55xx Hardware Accelerator

[PlugIn_47]
DisplayName      =C55xx Trace FIFO
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis\c55xtrace.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX
PlugInLst_GrpName=C55xx Trace FIFO <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
GroupDescription =C55xx Trace FIFO <%EVAL_INST_PATH%\ccs\plugins\c5000_emu_analysis>
HelpFile         =c55xTrace.hlp
Sku              =TI-55XTRAC-1.04.03
Family_InstDate  =C55xx Trace FIFO

[PlugIn_48]
DisplayName      =Cache Viewer
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\CacheTune\CacheTune.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=CacheTune Control <%EVAL_INST_PATH%\ccs\plugins\cachetune>
GroupDescription =CacheTune Control <%EVAL_INST_PATH%\ccs\plugins\cachetune>
HelpFile         =..\..\docs\hlp\dspact.hlp
Sku              =SKU-000-00.00.00
Family_InstDate  =Cache Viewer

[PlugIn_49]
DisplayName      =Coverage and Exclusive Profiler Control - Code Coverage and Exclusive Profile Viewer Plugin
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\coverage.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX,TMS470R1X,TMS470R2X,TMS470R3X,TMS470RCX,TMS470RDX,TMS470REX,TMS470RXX
PlugInLst_GrpName=CoverageViewer Control <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =CoverageViewer Control <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =ATK.hlp
Sku              =TI-CVRGE-01.00.00
Family_InstDate  =Coverage and Exclusive Profiler Control - Code Coverage and Exclusive Profile Viewer Plugin

[PlugIn_50]
DisplayName      =PipeLine Stall Analyzer
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\C55x_Stall_analyzer\c55xpipeline.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C55XX,TMS320C56XX
PlugInLst_GrpName=C55x PipeLine <%EVAL_INST_PATH%\ccs\plugins\c55x_stall_analyzer>
GroupDescription =C55x PipeLine <%EVAL_INST_PATH%\ccs\plugins\c55x_stall_analyzer>
HelpFile         =C55xPipeline.hlp
Sku              =TI-C55XPIPE-2.1.01
Family_InstDate  =PipeLine Stall Analyzer

[PlugIn_51]
DisplayName      =C6000 Emulator Analysis
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\c6x_emu_analysis\c6xemu_analysis.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C62XX,TMS320C67XX
PlugInLst_GrpName=
GroupDescription =
HelpFile         =c6xemu_analysis.hlp
Sku              =
Family_InstDate  =C6000 Emulator Analysis

[PlugIn_52]
DisplayName      =CacheTagRAMViewer Control
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\CacheTAGViewer\CacheTag.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C64XX
PlugInLst_GrpName=CacheTagRAMViewer Control <%EVAL_INST_PATH%\ccs\plugins\joule\cachetagviewer>
GroupDescription =CacheTagRAMViewer Control <%EVAL_INST_PATH%\ccs\plugins\joule\cachetagviewer>
HelpFile         =CacheTagRAMViewer.hlp
Sku              =TI-CacheVw
Family_InstDate  =CacheTagRAMViewer Control

[PlugIn_53]
DisplayName      =470 Emulator Analysis
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\tms470_emu_analysis\470rxxemu_analysis.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS470R2X,TMS470R3X,TMS470RCX,TMS470RDX,TMS470REX
PlugInLst_GrpName=ARM Advanced Features <%EVAL_INST_PATH%\ccs\plugins\tms470_emu_analysis>
GroupDescription =ARM Advanced Features <%EVAL_INST_PATH%\ccs\plugins\tms470_emu_analysis>
HelpFile         =470rxxemu_analysis.hlp
Sku              =TI-470EMUA-1.00.03
Family_InstDate  =470 Emulator Analysis

[PlugIn_54]
DisplayName      =MMUPageTableViewer Control
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\MMUPageTableViewer\MMUPageT.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS470R2X,TMS470R3X,TMS470RCX
PlugInLst_GrpName=MMUPgTbl Control <%EVAL_INST_PATH%\ccs\plugins\joule\mmupagetableviewer>
GroupDescription =MMUPgTbl Control <%EVAL_INST_PATH%\ccs\plugins\joule\mmupagetableviewer>
HelpFile         =MMUPageTableViewer.hlp
Sku              =TI-MMUPgTbl
Family_InstDate  =MMUPageTableViewer Control

[PlugIn_55]
DisplayName      =OMAP Interrupt Controller
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\OMAP\OMAP_Interrupt.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS470R2X
PlugInLst_GrpName=OMAP Features <%EVAL_INST_PATH%\ccs\plugins\omap>
GroupDescription =OMAP Features <%EVAL_INST_PATH%\ccs\plugins\omap>
HelpFile         =OMAP_Interrupt.hlp
Sku              =TI-OMAPITR-2.00.00
Family_InstDate  =OMAP Interrupt Controller

[PlugIn_56]
DisplayName      =OMAP System DMA
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\OMAP\OMAP_DMA.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS470R2X
PlugInLst_GrpName=OMAP Features <%EVAL_INST_PATH%\ccs\plugins\omap>
GroupDescription =OMAP Features <%EVAL_INST_PATH%\ccs\plugins\omap>
HelpFile         =..\..\docs\hlp\OMAP_DMA.hlp
Sku              =TI-OMAPDMA-2.00.00
Family_InstDate  =OMAP System DMA

[PlugIn_57]
DisplayName      =Breakpoints - Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\BreakpointMgr\BreakpointGUI.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Breakpoints <%EVAL_INST_PATH%\ccs\plugins\joule\breakpointmgr>
GroupDescription =Breakpoints <%EVAL_INST_PATH%\ccs\plugins\joule\breakpointmgr>
HelpFile         =BreakpointGUI.hlp
Sku              =TI-BkPtrGUI
Family_InstDate  =Breakpoints - Command Object

[PlugIn_58]
DisplayName      =Event Analysis - Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\ADPlugin.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =*
PlugInLst_GrpName=Advanced Event Triggering <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =Advanced Event Triggering <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =..\..\docs\hlp\ctools.hlp
Sku              =TI-EVNTANL-1.0.11
Family_InstDate  =Event Analysis - Command Object

[PlugIn_59]
DisplayName      =GELOpen Control - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\GELOpen\GELOpen.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=View Location Context Menu <%EVAL_INST_PATH%\ccs\plugins\gelopen>
GroupDescription =View Location Context Menu <%EVAL_INST_PATH%\ccs\plugins\gelopen>
HelpFile         =
Sku              =0
Family_InstDate  =GELOpen Control - Main Command Object

[PlugIn_60]
DisplayName      =PropMngr Control - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\PropertyPageManager\Property.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Property Manager <%EVAL_INST_PATH%\ccs\plugins\joule\propertypagemanager>
GroupDescription =Property Manager <%EVAL_INST_PATH%\ccs\plugins\joule\propertypagemanager>
HelpFile         =PropCmd_Tester.hlp
Sku              =TI-PropMngr
Family_InstDate  =PropMngr Control - Main Command Object

[PlugIn_61]
DisplayName      =SummaryParser Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\SummaryParser.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=SummaryParser <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =SummaryParser <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =SummaryParser.hlp
Sku              =TI-SummaryParser
Family_InstDate  =SummaryParser Main Command Object

[PlugIn_62]
DisplayName      =Symbol Browser - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\symbolbrowser.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Symbol Browser <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Symbol Browser <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =SymbolBrowser.hlp
Sku              =TI-SYMBROW-1.0.17
Family_InstDate  =Symbol Browser - Main Command Object

[PlugIn_63]
DisplayName      =TConfAXD Control - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\tconfaxd\tconfaxd.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.41
CpuSupport       =*
PlugInLst_GrpName=TConfAXD Control <%EVAL_INST_PATH%\ccs\plugins\tconfaxd>
GroupDescription =TConfAXD Control <%EVAL_INST_PATH%\ccs\plugins\tconfaxd>
HelpFile         =TConfAXD.hlp
Sku              =0
Family_InstDate  =TConfAXD Control - Main Command Object

[PlugIn_64]
DisplayName      =TConfCmdObject Control - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\bios_5_33_05\packages\ti\bios\bti\bin\TConfCmdObject.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.41
CpuSupport       =*
PlugInLst_GrpName=TConfCmdObject Control <%EVAL_INST_PATH%\ccs\bios_5_33_05\packages\ti\bios\bti\bin>
GroupDescription =TConfCmdObject Control <%EVAL_INST_PATH%\ccs\bios_5_33_05\packages\ti\bios\bti\bin>
HelpFile         =
Sku              =TI-TCONF-3.3
Family_InstDate  =TConfCmdObject Control - Main Command Object

[PlugIn_65]
DisplayName      =TraceEventAdapter - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\TraceEventAdapter.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =*
PlugInLst_GrpName=TraceEventAdapter <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =TraceEventAdapter <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =..\..\docs\hlp\trace_help.hlp
Sku              =TI-TraceEventAdapter
Family_InstDate  =TraceEventAdapter - Main Command Object

[PlugIn_66]
DisplayName      =TraceEventAdapter - Main Command Object 1
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\TraceEventAdapter.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =*
PlugInLst_GrpName=TraceEventAdapter <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =TraceEventAdapter <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =..\..\docs\hlp\trace_help.hlp
Sku              =TI-TraceEventAdapter
Family_InstDate  =TraceEventAdapter - Main Command Object 1

[PlugIn_67]
DisplayName      =TraceEventAdapter - Main Command Object 2
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\TraceEventAdapter.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =*
PlugInLst_GrpName=TraceEventAdapter <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =TraceEventAdapter <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =..\..\docs\hlp\trace_help.hlp
Sku              =TI-TraceEventAdapter
Family_InstDate  =TraceEventAdapter - Main Command Object 2

[PlugIn_68]
DisplayName      =Tuning (ACT) Manager
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\ACTMgr.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Tuning (ACT) Manager <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =Tuning (ACT) Manager <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =..\..\docs\hlp\dspact.hlp
Sku              =TI-ACTMGR
Family_InstDate  =Tuning (ACT) Manager

[PlugIn_69]
DisplayName      =CacheTune Control - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\CacheTune\CacheTune.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C55XX,TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=CacheTune Control <%EVAL_INST_PATH%\ccs\plugins\cachetune>
GroupDescription =CacheTune Control <%EVAL_INST_PATH%\ccs\plugins\cachetune>
HelpFile         =..\..\docs\hlp\dspact.hlp
Sku              =0
Family_InstDate  =CacheTune Control - Main Command Object

[PlugIn_70]
DisplayName      =CoverageViewer Control - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\generic\coverage.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.4
CpuSupport       =TMS320C55XX,TMS320C56XX,TMS320C62XX,TMS320C64XX,TMS320C67XX,TMS470R1X,TMS470R2X,TMS470R3X,TMS470RCX,TMS470RDX,TMS470REX,TMS470RXX
PlugInLst_GrpName=CoverageViewer Control <%EVAL_INST_PATH%\ccs\plugins\generic>
GroupDescription =CoverageViewer Control <%EVAL_INST_PATH%\ccs\plugins\generic>
HelpFile         =CoverageViewer.hlp
Sku              =0
Family_InstDate  =CoverageViewer Control - Main Command Object

[PlugIn_71]
DisplayName      =Consultant Command Object - Clear Imported Files Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Consultant\Consultant.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
GroupDescription =ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
HelpFile         =..\..\Docs\hlp\dspact.hlp
Sku              =TI-Consultant-1.0.0
Family_InstDate  =Consultant Command Object - Clear Imported Files Command Object

[PlugIn_72]
DisplayName      =Consultant Command Object - Import Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Consultant\Consultant.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
GroupDescription =ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
HelpFile         =..\..\Docs\hlp\dspact.hlp
Sku              =TI-Consultant-1.0.0
Family_InstDate  =Consultant Command Object - Import Command Object

[PlugIn_73]
DisplayName      =Consultant Command Object - Set Import Directory Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Consultant\Consultant.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
GroupDescription =ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
HelpFile         =..\..\Docs\hlp\dspact.hlp
Sku              =TI-Consultant-1.0.0
Family_InstDate  =Consultant Command Object - Set Import Directory Command Object

[PlugIn_74]
DisplayName      =Consultant Command Object - Show Advice Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Consultant\Consultant.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
GroupDescription =ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
HelpFile         =..\..\Docs\hlp\dspact.hlp
Sku              =TI-Consultant-1.0.0
Family_InstDate  =Consultant Command Object - Show Advice Command Object

[PlugIn_75]
DisplayName      =Consultant Control - Main Command Object
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Consultant\Consultant.ocx
LastAccessDate   =(U) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C62XX,TMS320C64XX,TMS320C67XX
PlugInLst_GrpName=ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
GroupDescription =ConsultantControl <%EVAL_INST_PATH%\ccs\plugins\consultant>
HelpFile         =..\..\Docs\hlp\dspact.hlp
Sku              =TI-Consultant-1.0.0
Family_InstDate  =Consultant Control - Main Command Object

[PlugIn_76]
DisplayName      =Exceptions
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\Joule\Exceptions\Exceptions.ocx
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =TMS320C64XX
PlugInLst_GrpName=Exceptions <%EVAL_INST_PATH%\ccs\plugins\joule\exceptions>
GroupDescription =Exceptions <%EVAL_INST_PATH%\ccs\plugins\joule\exceptions>
HelpFile         =Exceptions.hlp
Sku              =TI-Exceptions
Family_InstDate  =Exceptions

[PlugIn_77]
DisplayName      =Data File Server
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\DataFileServer.dll
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Data File Server <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =Data File Server <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =
Sku              =SKU-122-333
Family_InstDate  =Data File Server

[PlugIn_78]
DisplayName      =ProfileDataServer
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\ProfileServer.dll
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.5
CpuSupport       =*
PlugInLst_GrpName=Profile Server <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =Profile Server <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =
Sku              =TI-PROSVR
Family_InstDate  =ProfileDataServer

[PlugIn_79]
DisplayName      =Project Collection
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\projsvr.dll
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.3
CpuSupport       =*
PlugInLst_GrpName=Project Management <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =Project Management <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =
Sku              =TI-PRJSVR
Family_InstDate  =Project Collection

[PlugIn_80]
DisplayName      =Project Server
ProgLocation     =%EVAL_INST_PATH%\ccs\cc\bin\projsvr.dll
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.3
CpuSupport       =*
PlugInLst_GrpName=Project Management <%EVAL_INST_PATH%\ccs\cc\bin>
GroupDescription =Project Management <%EVAL_INST_PATH%\ccs\cc\bin>
HelpFile         =
Sku              =TI-PRJSVR
Family_InstDate  =Project Server

[PlugIn_81]
DisplayName      =RealTimeAnalysis
ProgLocation     =%EVAL_INST_PATH%\ccs\plugins\bios\RealTimeAnalysisApp.dll
LastAccessDate   =(I) Saturday, July 24, 2021 10:23:55
Status           =17
SdkVersion       =1.0
CpuSupport       =*
PlugInLst_GrpName=
GroupDescription =
HelpFile         =
Sku              =
Family_InstDate  =RealTimeAnalysis

