Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\*\shell\NotePad++]
@="Edit with &Notepad++"
"Icon"="%EVAL_INST_PATH%\\notepad++.exe"
 
[HKEY_CLASSES_ROOT\*\shell\NotePad++\Command]
@="%EVAL_INST_PATH%\\notepad++.exe \"%1\""
