Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SOFTWARE\Texas Instruments]

[HKEY_LOCAL_MACHINE\SOFTWARE\Texas Instruments\Code Composer Studio 10.4.0.00006]
"Location"="%EVAL_INST_PATH%"
"Version"="10.4.0.00006"
"Language"="en"
