[Settings]
DriverPath1=%EVAL_INST_PATH%\ccs\drivers\TargetDB\
DriverPath2=%EVAL_INST_PATH%\ccs\drivers\
ImportPath=%EVAL_INST_PATH%\ccs\drivers\import\
[Recent File List]
File1=%EVAL_INST_PATH%\ccs\drivers\import\c64xx_seedxds510plus.ccs
