kkzzhizhou/scoop-zapps
matthewjberger/scoop-nerd-fonts
Ash258/Scoop-JetBrains
MCOfficer/scoop-nirsoft
TheRandomLabs/scoop-nonportable
Calinou/scoop-games
ScoopInstaller/Java
ScoopInstaller/PHP
ScoopInstaller/Versions
lukesampson/scoop-extras
ACooper81/scoop-apps
h404bi/dorado
Ash258/scoop-Ash258
TheCjw/scoop-retools
borger/scoop-galaxy-integrations
AStupidBear/scoop-bear
nickbudi/scoop-bucket
dodorz/scoop
Ash258/Scoop-Sysinternals
rasa/scoops
MCOfficer/scoop-bucket
TheRandomLabs/Scoop-Bucket
zhoujin7/tomato
Velgus/Scoop-Portapps
ZvonimirSun/scoop-iszy
BlueHeaven1969/rsp-scoop
ProfElements/EmulatorBucket
jxxkvs/flowerKitty
integzz/scoopet
KNOXDEV/wsl
ChungZH/peach
Velgus/Scoop-Portapps
tianzhijiexian/scoop-bucket
kidonng/sushi
Qv2ray/mochi
aoisummer/scoop-bucket
Paxxs/Cluttered-bucket
TheLastZombie/scoop-bucket
chadrien/scoop
icedream/scoop-bucket
bobo2334/scoop-bucket
